# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
*.pem
*.tar.gz

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Example environment file should not be ignored
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local/Editor
.vscode/*
!.vscode/extensions.json
.idea
.local
*.swp
*.swo

# Project Specific
server/public
vite.config.ts.timestamp-*
vite.config.ts.*

# Uploads
uploads